---
name: pull-requests-open
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - main

jobs:
  commit-history-check:
    name: Check commit compliance
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Install commitizen
        run: pip3 install commitizen
        shell: bash
        working-directory: ${{ github.workspace }}

      - run: git log origin/${{ github.event.pull_request.base.ref }}..

      - name: Verify commit message compliance
        run: |
          echo "cz check --rev-range origin/${{ github.event.pull_request.base.ref }}.."
          cz check --rev-range origin/${{ github.event.pull_request.base.ref }}..
        shell: bash
        working-directory: ${{ github.workspace }}

  pre-commits:
    name: Run pre-commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        working-directory: ${{ github.workspace }}
        shell: bash
        run: uv python install

      - name: Install dependencies
        working-directory: ${{ github.workspace }}
        shell: bash
        run: uv sync --group dev

      - name: Run pre-commit hooks
        working-directory: ${{ github.workspace }}
        shell: bash
        run: uv run pre-commit run --all-files

  tests:
    name: Run pytest unit/integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        working-directory: ${{ github.workspace }}
        shell: bash
        run: uv python install

      - name: Install dependencies
        working-directory: ${{ github.workspace }}
        shell: bash
        run: uv sync --group dev

      - name: Run unit tests
        working-directory: ${{ github.workspace }}
        shell: bash
        run: uv run pytest -v --cov=validate_sops --cov-report=term-missing --cov-fail-under=70
        env:
          PYTEST_ADDOPTS: "--color=yes"
